@import "./../variables";
@import "./../mixins";

.about {
  @include flex-column-center-center;
  width: 100%;
  overflow: hidden;

  &__transition {
    width: 300%;
    height: auto;
    margin-bottom: 50px;
  }
  &__sectionWrapper {
    @include flex-column-center-center;
    background-color: $lightred;
    padding-top: 80px;
    padding-bottom: 40px;
    width: 100%;
    // height: 100%;
  }
  &__title_b1 {
    @include flex-column-center-center;
    background-image: url(./../../public/images/ballon-1.png);
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 0px 10px $gray);
  }
  &__title_b2 {
    @include flex-column-center-center;
    background-image: url(./../../public/images/ballon-2.png);
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 0px 10px $gray);
  }

  &__title_b3 {
    @include flex-column-center-center;
    background-image: url(./../../public/images/ballon-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 250px;
    filter: drop-shadow(0px 0px 10px $gray);
  }

  &__title_3,
  &__title_2,
  &__title_1 {
    font-size: 2rem;
    color: $darkgray;
    filter: drop-shadow(0px 0px 2px $gray);
  }

  &__tilt {
    transform: rotate(-10deg);
  }
  &__pencil {
    @include flex-column-center-center;
    margin: 40px 0px 40px 0px;
    width: 300px;
    height: 50px;
    font-size: 2.5rem;
    background-image: url("./../../public/images/pencil.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: $darkgray;
    filter: drop-shadow(0px 6px 5px $gray);
  }

  &__info {
    @include flex-column-start-center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300% 100%;
    padding-top: 40px;
  }
  &__section_wrap {
    @include flex-column-start-center;
    width: 350px;
  }

  &__section {
    @include flex-column-start-center;
    font-weight: 200;
    width: 350px;
    margin-top: 40px;
    filter: drop-shadow(0px 0px 1px $lightgray);
    color: $darkgray;
  }

  &__tools_wrapper {
    @include flex-column-center-center;
    width: 350px;
  }

  &__paragraph_tools {
    font-size: 1.4rem;
    line-height: 2.5rem;
    filter: drop-shadow(0px 0px 2px $gray);
    color: $darkgray;
    margin-bottom: 48px;
  }

  &__tools_wrap {
    width: 350px;
    @include flex-column-center-center;
  }

  &__paragraphTopWrapper {
    width: 350px;
    @include flex-column-start-center;
    // margin-bottom: 60px;
  }
  &__paragraphTop {
    width: 350px;
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 40px 0;
    font-weight: 200;
    filter: drop-shadow(0px 0px 2px $gray);
    color: $lightwhite;
  }
  &__firstPtop {
    &:first-letter {
      color: $lightwhite;
      float: left;
      font-family: Georgia;
      font-size: 5rem;
      line-height: 60px;
      padding-top: 12px;
      padding-right: 8px;
      padding-left: 3px;
    }
  }
  &__firstP {
    &:first-letter {
      color: $darkgray;
      float: left;
      font-family: Georgia;
      font-size: 5rem;
      line-height: 60px;
      padding-top: 12px;
      padding-right: 8px;
      padding-left: 3px;
    }
  }
  &__paragraph {
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding: 0px 0px 0px 0px;
    margin: 50px 0px 50px 0px;
    filter: drop-shadow(0px 0px 2px $gray);
    color: $darkgray;
  }
  &__paragraph_special {
    font-size: 1.77rem;
    line-height: 2.8rem;
    filter: drop-shadow(0px 0px 1px $gray);
    color: $darkgray;
    margin-bottom: 48px;
  }
  &__paragraphLast {
    filter: drop-shadow(0px 0px 1px $lightgray);
    color: $darkgray;
  }

  &__skill {
    @include flex-column-start-center;
    width: 100%;
    margin-bottom: 50px;
  }

  &__skill_list {
    @include flex-row-center-center-wrap;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  &__skill_list_item {
    margin: 22px;
  }

  &__imgsIcon {
    filter: drop-shadow(0px 10px 8px $gray);
    width: 56px;
    height: auto;
  }
}

@media screen and (min-width: $tablet) {
  .about {
    &__transition {
      width: 250%;
      margin-bottom: 60px;
    }
    &__info {
      @include flex-column-start-center;

      background-size: 100% 100%;
    }
    &__tools_wrapper {
      width: 740px;
    }
    &__tools_wrap {
      width: 740px;
      margin-bottom: 52px;
    }
    &__paragraph_tool {
      font-size: 1.275rem;
      line-height: 2.125rem;
      filter: drop-shadow(0px 0px 1px $gray);
      color: $darkgray;
    }
    &__section_wrap {
      width: 740px;
    }
    &__section {
      width: 740px;
    }
    &__title_img {
      position: absolute;
      right: -110px;
      top: -20px;
      width: 150px;
      filter: drop-shadow(0px 0px 2px $gray);
    }
    &__paragraphTopWrapper {
      width: 740px;
    }
    &__paragraphTop {
      width: 740px;
    }
    &__paragraph_special {
      width: 100%;
      font-size: 1.77rem;
      line-height: 2.8rem;
      filter: drop-shadow(0px 0px 1px $gray);
      color: $darkgray;
      margin-bottom: 48px;
    }

    &__skill {
      width: 740px;
    }

    &__skill_list {
      margin-bottom: 0px;
    }

    &__skill_list_item {
      margin: 20px;
    }

    &__imgsIcon {
      width: 60px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .about {
    &__transition {
      width: 150%;
    }
    &__title {
      width: 200px;
    }
    &__section_wrap {
      width: 1000px;
      @include flex-row-spacebetween-start-wrap;
    }
    &__section {
      font-weight: 200;
      width: 300px;
    }
    &__paragraphTopWrapper {
      width: 1000px;
      @include flex-row-spacebetween-start;
    }
    &__paragraphTop {
      width: 465px;
    }
    &__tools_wrapper {
      width: 1000px;
      @include flex-row-spacebetween-start;
    }
    &__tools_wrap {
      width: 500px;
      margin-bottom: 52px;
    }
    &__paragraph_tools {
      width: 400px;
    }
    &__paragraph_special {
      width: 400px;
    }
    &__skill {
      width: 500px;
    }

    &__skill_list_item {
      margin: 18px;
    }

    &__imgsIcon {
      width: 68px;
    }
  }
}

@media screen and (min-width: $larger) {
  .about {
    &__transition {
      width: 100%;
    }

    &__title {
      width: 200px;
    }
    &__section_wrap {
      width: 1312px;
    }
    &__section {
      font-weight: 200;
      width: 400px;
    }
    &__paragraph_tools {
      width: 500px;
    }
    &__paragraph_special {
      width: 500px;
    }
    &__paragraphTopWrapper {
      width: 1312px;
    }
    &__paragraphTop {
      width: 600px;
    }
    // &__paragraph {
    //   width: 600px;
    // }
    &__tools_wrapper {
      width: 1312px;
      @include flex-row-spacebetween-center;
    }
    &__header_1 {
      width: 50%;
      margin-bottom: 52px;
    }
    &__skill {
      width: 50%;
    }
    &__imgsIcon {
      width: 60px;
    }
  }
}
