@import "./../../app/variables";
@import "./../../app/mixins";

.header {
  top: 0;
  left: 0;
  @include flex-row-center-center;
  width: 100%;
  height: 100px;
  &__homeLink {
    @include flex-column-center-center;
    text-decoration: none;
    background-image: url("./../../public/images/tape.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 0px 1px $gray);
    margin: 0px 0px 0px 0px;
  }
  &__nameLogoWrap {
    @include flex-column-center-center;
    padding: 40px;
  }
  &__nameSize {
    text-align: center;
    font-size: 2rem;
    margin: 0px;
    line-height: 28px;
    color: $darkgray;
  }
  &__bottomName {
    text-align: center;
    font-size: 1.275rem;
    line-height: 28px;
    margin: 0px;
    color: $darkred;
  }
  &__listBlock {
    display: none;
  }
  &__list {
    font-size: 1.4rem;
    font-weight: 500;
    display: inline;
    padding: 10px;
    margin: 0px 16px 0px 0px;
  }

  &__link {
    color: $black;
    list-style-type: none;
    text-decoration: none;
    filter: drop-shadow(0px 0px 1px $gray);
    &:hover {
      color: $lightgray;
    }
    &:active {
      color: $lightyellow;
    }
  }

  &__iconBurger {
    z-index: 10;
    position: fixed;
    cursor: pointer;
    top: 28px;
    left: 20px;
    font-size: 1.25rem;
    color: $blue;
  }
}

@media screen and (min-width: $tablet) {
  .header {
    &__listBlock {
      display: block;
    }
    &__iconBurger {
      display: none;
    }
    &__list {
      font-size: 1.2rem;
      margin: 0px 12px 0px 0px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .header {
    &__list {
      font-size: 1.4rem;
      padding: 10px;
      margin: 0px 16px 0px 0px;
    }
  }
}

@media screen and (min-width: $larger) {
}
