@import "./../../app/mixins";
@import "./../../app/variables";

.pwUpdate {
  overflow: hidden;
  &__wrapper {
    width: 100vw;
    height: auto;
    margin: 150px 0px;
    @include flex-column-center-center;
  }

  &__wrap {
    width: 350px;
  }
  &__twrap {
    @include flex-row-start-base;
  }
  &__title {
    font-size: 1.25rem;
    filter: drop-shadow(0px 0px 1px $gray);
  }
  &__userName {
    margin-bottom: 8px;
    color: $red;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    filter: drop-shadow(0px 0px 1px $gray);
  }
  &__message {
    margin-bottom: 8px;
    color: $red;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
  &__form {
    box-sizing: border-box;
    @include flex-column-start-start;
  }
  &__label {
    font-size: 1rem;
  }
  &__red {
    color: $red;
    font-weight: 500;
  }
  &__icons {
    color: $darkgray;
    font-size: 1.8rem;
    margin: 5px 10px 0px 0px;
    filter: drop-shadow(0px 0px 1px $gray);
  }
  &__password {
    @include flex-row-start-start;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  &__input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 0px 0px 16px 0px;
    padding-left: 16px;
    font-size: 1.125rem;
    filter: drop-shadow(0px 0px 2px $gray);
  }
  &__label {
    font-size: 1.125rem;
  }
  &__password {
    @include flex-row-start-start;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  &__button {
    font-size: 0.8rem;
    background-color: $darkblue;
    color: $lightwhite;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
    filter: drop-shadow(0px 0px 3px $gray);
    &:hover {
      transition: 0.2s;
      background-color: $lightblue;
    }
  }
  &__toprip {
    width: 300%;
    height: auto;
  }
  &__bottomrip {
    position: relative;
    width: 300%;
    height: auto;
    bottom: -7px;
  }
}

@media screen and (min-width: $tablet) {
  .pwUpdate {
    &__toprip {
      width: 200%;
    }
    &__bottomrip {
      width: 200%;
    }
  }
}

@media screen and (min-width: $desktop) {
  .pwUpdate {
    &__toprip {
      width: 150%;
    }
    &__bottomrip {
      width: 150%;
    }
  }
}

@media screen and (min-width: $larger) {
  .pwUpdate {
    &__toprip {
      width: 100%;
    }
    &__bottomrip {
      width: 100%;
    }
  }
}
