@import "./../../app/mixins";
@import "./../../app/variables";

.contactHero {
  position: relative;
  padding: 0px 0px;
  background-image: url("./../../public/images/front-Image.jpg");
  @include flex-column-start-center;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  margin-bottom: 80px;
  &__toprip {
    width: 300vw;
    height: auto;
    transform: rotateY(180deg);
  }
  &__bottomrip {
    width: 300vw;
    height: auto;
    transform: rotateX(180deg);
    // transform: rotateY(180deg);
    position: absolute;
    bottom: -1px;
  }
  &__hero_img {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100vw;
    height: auto;
  }
}

@media screen and (min-width: $tablet) {
  .contactHero {
    &__toprip {
      width: 200vw;
    }
    &__bottomrip {
      width: 200vw;
    }
  }
}

@media screen and (min-width: $desktop) {
  .contactHero {
    &__toprip {
      width: 150vw;
    }
    &__bottomrip {
      width: 150vw;
    }
  }
}

@media screen and (min-width: $larger) {
  .contactHero {
    &__toprip {
      width: 100vw;
    }
    &__bottomrip {
      width: 100vw;
    }
  }
}
