@import "./../../app/mixins";
@import "./../../app/variables";

.portfolioHero {
  position: relative;
  @include flex-column-start-center;
  width: 100%;
  height: 74vh;
  overflow: hidden;
  &__toprip {
    z-index: 10;
    width: 300vw;
    height: auto;
    transform: rotateY(180deg);
  }
  &__vid {
    position: absolute;
    top: 0px;
    // transform: rotate(270deg);
    object-fit: contain;
    height: 100%;
    width: auto;
  }
  &__bottomrip {
    width: 300vw;
    height: auto;
    transform: rotateX(180deg);
    position: absolute;
    bottom: -1px;
  }
}

@media screen and (min-width: $tablet) {
  .portfolioHero {
    height: 65vh;
    &__toprip {
      width: 200vw;
    }
    &__vid {
      // position: absolute;
      top: 0px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__bottomrip {
      width: 200vw;
    }
  }
}

@media screen and (min-width: $desktop) {
  .portfolioHero {
    height: 80vh;
    &__toprip {
      width: 150vw;
    }
    // &__vid {
    //   top: 0px;
    //   width: auto;
    //   height: 100%;
    // }
    &__bottomrip {
      width: 150vw;
    }
  }
}

@media screen and (min-width: $larger) {
  .portfolioHero {
    height: 90vh;
    &__toprip {
      width: 100vw;
    }
    // &__vid {
    //   position: absolute;
    //   top: 200px;
    //   width: 100vw;
    //   height: auto;
    // }
    &__bottomrip {
      width: 100vw;
    }
  }
}
