* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li,
a {
  color: #323232;
  text-decoration: none;
  list-style-type: none;
}

.home,
.pageBlock,
html,
body {
  color: #323232;
  font-weight: 200;
  background-color: #d3d3d3;
}
