@import "./../mixins";
@import "./../variables";

.thankyou {
  position: relative;
  @include flex-column-center-center;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  &__toprip {
    position: absolute;
    top: 0;
    width: 300%;
    height: auto;
  }
  &__bottomrip {
    position: absolute;
    bottom: 0;
    width: 300%;
    height: auto;
  }
  &__title {
    text-align: center;
    font-size: 2rem;
  }
  &__text {
    text-align: center;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: $tablet) {
  .thankyou {
    &__toprip {
      width: 250%;
    }
    &__bottomrip {
      width: 250%;
    }
  }
}

@media screen and (min-width: $desktop) {
  .thankyou {
    &__toprip {
      width: 150%;
    }
    &__bottomrip {
      width: 150%;
    }
  }
}

@media screen and (min-width: $desktop) {
  .thankyou {
    &__toprip {
      width: 100%;
    }
    &__bottomrip {
      width: 100%;
    }
  }
}
