@import "./../../app/mixins";
@import "./../../app/variables";

.menu {
  z-index: 20;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 200px;
  background-color: $blue;
  // opacity: 0.8;
  padding: 10px 20px 20px 20px;
  border-radius: 8px;
  border: 1px solid $lightblue;
  filter: drop-shadow(5px 5px 5px $darkgray);
  &__link {
    text-decoration: none;
  }
  &__list {
    font-family: "Nunito Sans", sans-serif;
    border-bottom: 1px solid $lightblue;
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    list-style-type: none;
    color: $lightwhite;
    font-size: 1.125rem;
    &:hover {
      color: $lightyellow;
    }
  }
  &__lastlist {
    border-bottom: none;
  }
  &__icon {
    margin-right: 16px;
    cursor: pointer;
    font-size: 1.25rem;
  }
  &__x {
    font-size: 2rem;
    color: $lightyellow;
  }
}
