@import "./../mixins";
@import "./../variables";

.portfolio {
  width: 100%;
  padding: 0px 0px 0px 0px;
  @include flex-column-center-center;
  overflow: hidden;
  &__wrap {
    @include flex-column-center-center;
    width: 350px;
  }
  &__title {
    width: 350px;
    font-size: 2.5rem;
    text-align: center;
    padding: 10px 28px;
    margin: 20px 0px 20px 0px;
    color: $darkgray;
    background-image: url("./../../public/images/tape.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 0px 2px $gray);
    transform: rotate(-4deg);
  }
  &__imgs {
    display: none;
    margin: 0px 0px 0px 0px;
    width: 350px;
    height: auto;
    &:last-child {
      margin: 0px 0px 100px 0px;
    }
  }
  &__imgs_MOB {
    display: block;
    margin: 0px 0px 0px 0px;
    width: 350px;
    height: auto;
    &:last-child {
      margin: 0px 0px 100px 0px;
    }
  }
  &__heading {
    font-size: 1.5rem;
    margin: 60px 0px 60px 0px;
    line-height: 2.5rem;
    color: $darkgray;
    width: 350px;
    filter: drop-shadow(0px 0px 2px gray);
  }
  &__firstP {
    &:first-letter {
      color: $darkgray !important;
      float: left !important;
      font-family: Georgia !important;
      font-size: 5rem !important;
      line-height: 60px !important;
      padding-top: 14px !important;
      padding-right: 8px !important;
      padding-left: 3px !important;
    }
  }
  &__transition {
    width: 300%;
    height: auto;
    margin-bottom: 80px;
  }
  &__bottomrip {
    width: 300vw;
    height: auto;
    bottom: -1px;
  }
}

@media screen and (min-width: $tablet) {
  .portfolio {
    &__wrap {
      width: 740px;
    }
    &__title {
      margin: 0px 0px 70px 0px;
    }
    &__heading {
      width: 740px;
      margin: 30px 0px 30px 0px;
    }
    &__imgs {
      display: block;
      margin: 80px 0px 80px 0px;
      width: 740px;
    }
    &__imgs_MOB {
      display: none;
    }
    &__bottomrip {
      width: 200vw;
    }
    &__transition {
      width: 250%;
    }
  }
}

@media screen and (min-width: $desktop) {
  .portfolio {
    &__wrap {
      width: 1000px;
    }
    &__heading {
      width: 1000px;
      margin: 0px 0px 0px 0px;
    }
    &__imgs {
      // display: block;
      margin: 80px 0px 80px 0px;
      width: 1000px;
    }
    &__bottomrip {
      width: 150vw;
    }
    &__transition {
      width: 150%;
    }
  }
}

@media screen and (min-width: $larger) {
  .portfolio {
    &__wrap {
      width: 1312px;
    }
    &__imgs {
      margin: 80px 0px 80px 0px;
      // width: 1312px;
    }
    &__bottomrip {
      width: 100vw;
    }
    &__transition {
      width: 100%;
    }
  }
}
